
:root {
--vermelho: #DB202C;
--preta: #202020;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ELEMENTO BASE*/

body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}


header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 15px;
    width: 130px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
    
}

header nav a:hover {
    color:#fff
}

/*FILME PRINCIPAL*/

.filme-principal {
    font-size: 18px;
    background:linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)), url('/img/capa-house.jpg');
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 40px;
}

.descricao {
    margin-left: 15px;
    font-size: 20px ;
    font-family: 'Roboto Flex', sans-serif;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 10px;
    cursor: pointer;
    transition: .5s ease all;
    
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i{
   margin-right: 8px;
}

.container {
    margin-left: 10px;
}

.botoes {
    margin-left: 20px;
}

.botoesHeader {
    font-family: 'Roboto Flex', sans-serif;
}

.filme-principal container {
    width: 40%;
}

.box-filme {
height: 100%;
width: 100%;
display: block;
}

.carrousel-filmes {
    margin-top: 10px;
}

.enderecoEmail {
display: flex;
justify-content: center;

}

.footer-text {
    text-decoration: none;
color: #fff;
font-family: 'Roboto Flex', sans-serif;
font-size: 20px;
display: flex;
justify-content: center;
cursor: pointer;
margin-bottom: 10px;
}

.footer-text:hover{
    color: #DB202C;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 10px;
    }